        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'reglementVente.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'reglementVente.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'reglementVente.reference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'reglementVente.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validReglementVenteReference}"  />
                                                    <small class='p-error' *ngIf='!validReglementVenteReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'reglementVente.dateReglement' | translate}}<span style="color: red;">*</span></label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'reglementVente.dateReglement' | translate}}"  [(ngModel)]="item.dateReglement"
                                                            dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validReglementVenteDateReglement}"  >
                                                    </p-calendar>
                                                    <small class='p-error' *ngIf='!validReglementVenteDateReglement'>DateReglement est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'reglementVente.montant' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'reglementVente.montant' | translate}}" [(ngModel)]="item.montant" [ngClass]="{'ng-invalid ng-dirty' : !validReglementVenteMontant}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validReglementVenteMontant'>Montant est obligatoire.</small>
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'reglementVente.vente' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="ventes" [(ngModel)]="item.vente" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="numeroFacture" placeholder="{{'reglementVente.vente' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validReglementVenteVente}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validReglementVenteVente'>Vente est obligatoire.</small>
                                            </div>
                                            <div class="field col-11 md:col-6">
                                                <label for="5">{{'reglementVente.modeReglement' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="modeReglements" [(ngModel)]="item.modeReglement" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'reglementVente.modeReglement' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validReglementVenteModeReglement}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validReglementVenteModeReglement'>ModeReglement est obligatoire.</small>
                                            </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'reglementVente.description' | translate}}</label>
                                                    <textarea id="6" pInputTextarea rows="5" cols="30" placeholder="{{'reglementVente.description' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
