        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'commandeItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'commandeItem.tabPan' | translate}}">
                                <div class="grid">

                                            <div class="field col-11 md:col-5">
                                                <label for="1">{{'commandeItem.produit' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="item.produit" id="1" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="seuilAlerte" placeholder="{{'commandeItem.produit' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemProduit}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validCommandeItemProduit'>Produit est obligatoire.</small>
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateProduit('Produit')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'commandeItem.quantite' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'commandeItem.quantite' | translate}}" [(ngModel)]="item.quantite" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemQuantite}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemQuantite'>Quantite est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'commandeItem.prixUnitaireHt' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'commandeItem.prixUnitaireHt' | translate}}" [(ngModel)]="item.prixUnitaireHt" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemPrixUnitaireHt}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemPrixUnitaireHt'>PrixUnitaireHt est obligatoire.</small>
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="4">{{'commandeItem.taxe' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="taxes" [(ngModel)]="item.taxe" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'commandeItem.taxe' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTaxe('Taxe')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'commandeItem.prixUnitaireTtc' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'commandeItem.prixUnitaireTtc' | translate}}" [(ngModel)]="item.prixUnitaireTtc" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemPrixUnitaireTtc}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemPrixUnitaireTtc'>PrixUnitaireTtc est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'commandeItem.remise' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'commandeItem.remise' | translate}}" [(ngModel)]="item.remise" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemRemise}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemRemise'>Remise est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'commandeItem.montantHt' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'commandeItem.montantHt' | translate}}" [(ngModel)]="item.montantHt" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemMontantHt}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemMontantHt'>MontantHt est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="8">{{'commandeItem.montantTtc' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="8" placeholder="{{'commandeItem.montantTtc' | translate}}" [(ngModel)]="item.montantTtc" [ngClass]="{'ng-invalid ng-dirty' : !validCommandeItemMontantTtc}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validCommandeItemMontantTtc'>MontantTtc est obligatoire.</small>
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="9">{{'commandeItem.commande' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="commandes" [(ngModel)]="item.commande" id="9" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="numeroCommande" placeholder="{{'commandeItem.commande' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCommande('Commande')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-produit-create-admin></app-produit-create-admin>
            <app-taxe-create-admin></app-taxe-create-admin>
            <app-commande-create-admin></app-commande-create-admin>


    </p-dialog>
