<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate('AvoirVenteItem')"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-warning mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1">{{'avoirVenteItem.barCode' | translate}}</label>
                            <input  class="w-full"  pInputText id="1" type="text"  [(ngModel)]="criteria.barCodeLike">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2-2">{{'avoirVenteItem.depot' | translate}} Max</label>
                            <p-dropdown [options]="depots" [(ngModel)]="criteria.depot" id="2" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'avoirVenteItem.depot' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-2">{{'avoirVenteItem.produit' | translate}} Max</label>
                            <p-dropdown [options]="produits" [(ngModel)]="criteria.produit" id="3" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'avoirVenteItem.produit' | translate}}" optionLabel="seuilAlerte">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-1">{{'avoirVenteItem.quantiteMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteMin" id="4-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-2">{{'avoirVenteItem.quantiteMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteMax" id="4-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-1">{{'avoirVenteItem.quantiteAvoirMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteAvoirMin" id="5-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'avoirVenteItem.quantiteAvoirMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteAvoirMax" id="5-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-1">{{'avoirVenteItem.quantiteVendueMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteVendueMin" id="6-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-2">{{'avoirVenteItem.quantiteVendueMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteVendueMax" id="6-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-1">{{'avoirVenteItem.prixUnitaireHtMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireHtMin" id="7-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-2">{{'avoirVenteItem.prixUnitaireHtMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireHtMax" id="7-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-2">{{'avoirVenteItem.taxe' | translate}} Max</label>
                            <p-dropdown [options]="taxes" [(ngModel)]="criteria.taxe" id="8" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'avoirVenteItem.taxe' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="9-1">{{'avoirVenteItem.prixUnitaireTtcMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireTtcMin" id="9-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="9-2">{{'avoirVenteItem.prixUnitaireTtcMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireTtcMax" id="9-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="10-1">{{'avoirVenteItem.remiseMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.remiseMin" id="10-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="10-2">{{'avoirVenteItem.remiseMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.remiseMax" id="10-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="11-1">{{'avoirVenteItem.montantHtMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantHtMin" id="11-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="11-2">{{'avoirVenteItem.montantHtMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantHtMax" id="11-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="12-1">{{'avoirVenteItem.montantTtcMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantTtcMin" id="12-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="12-2">{{'avoirVenteItem.montantTtcMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantTtcMax" id="12-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="13-2">{{'avoirVenteItem.avoirVente' | translate}} Max</label>
                            <p-dropdown [options]="avoirVentes" [(ngModel)]="criteria.avoirVente" id="13" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'avoirVenteItem.avoirVente' | translate}}" optionLabel="numeroFactureAvoirVente">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['barCode', 'depotlibelle', 'produitseuilAlerte', 'quantite', 'quantiteAvoir', 'quantiteVendue', 'prixUnitaireHt', 'taxelibelle', 'prixUnitaireTtc', 'remise', 'montantHt', 'montantTtc', 'avoirVentenumeroFactureAvoirVente']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'avoirVenteItem.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="barCode">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.barCode' | translate}}</span>
                                <p-sortIcon field="barCode"></p-sortIcon>
                                <p-columnFilter type="text" field="element.barCode" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="depot">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.depot' | translate}}</span>
                                <p-sortIcon field="depot"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="produit">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.produit' | translate}}</span>
                                <p-sortIcon field="produit"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="quantite">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.quantite' | translate}}</span>
                                <p-sortIcon field="quantite"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="quantiteAvoir">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.quantiteAvoir' | translate}}</span>
                                <p-sortIcon field="quantiteAvoir"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="quantiteVendue">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.quantiteVendue' | translate}}</span>
                                <p-sortIcon field="quantiteVendue"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="prixUnitaireHt">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.prixUnitaireHt' | translate}}</span>
                                <p-sortIcon field="prixUnitaireHt"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="taxe">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.taxe' | translate}}</span>
                                <p-sortIcon field="taxe"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="prixUnitaireTtc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.prixUnitaireTtc' | translate}}</span>
                                <p-sortIcon field="prixUnitaireTtc"></p-sortIcon>
                            </div>
                        </th>
                                
                                <!-- 
                        <th pSortableColumn="remise">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.remise' | translate}}</span>
                                <p-sortIcon field="remise"></p-sortIcon>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="montantHt">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.montantHt' | translate}}</span>
                                <p-sortIcon field="montantHt"></p-sortIcon>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="montantTtc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.montantTtc' | translate}}</span>
                                <p-sortIcon field="montantTtc"></p-sortIcon>
                            </div>
                        </th>
                                --> 
                                <!-- 
                        <th pSortableColumn="avoirVente">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'avoirVenteItem.avoirVente' | translate}}</span>
                                <p-sortIcon field="avoirVente"></p-sortIcon>
                            </div>
                        </th>
                                --> 
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.barCode}}</td>
                            
                            
                        <td>{{element.depot?.libelle}}</td>
                            
                            
                        <td>{{element.produit?.seuilAlerte}}</td>
                            
                            
                        <td>{{element.quantite}}</td>
                            
                            
                        <td>{{element.quantiteAvoir}}</td>
                            
                            
                        <td>{{element.quantiteVendue}}</td>
                            
                            
                        <td>{{element.prixUnitaireHt}}</td>
                            
                            
                        <td>{{element.taxe?.libelle}}</td>
                            
                            
                        <td>{{element.prixUnitaireTtc}}</td>
                            
                             <!-- 
                        <td>{{element.remise}}</td>
                             --> 
                             <!-- 
                        <td>{{element.montantHt}}</td>
                             --> 
                             <!-- 
                        <td>{{element.montantTtc}}</td>
                             --> 
                             <!-- 
                        <td>{{element.avoirVente?.numeroFactureAvoirVente}}</td>
                             --> 
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="edit(element)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(element)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'avoir vente item' : 'avoir vente items' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-avoir-vente-item-create-admin  *ngIf="createDialog"></app-avoir-vente-item-create-admin>
        <app-avoir-vente-item-edit-admin  *ngIf="editDialog"></app-avoir-vente-item-edit-admin>
        <app-avoir-vente-item-view-admin  *ngIf="viewDialog"></app-avoir-vente-item-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
