        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'entrepriseSociete.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'entrepriseSociete.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'entrepriseSociete.nom' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'entrepriseSociete.nom' | translate}}" id="1" [(ngModel)]="item.nom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEntrepriseSocieteNom}"  />
                                            <small class='p-error' *ngIf='!validEntrepriseSocieteNom'>Nom est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'entrepriseSociete.ice' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'entrepriseSociete.ice' | translate}}" id="2" [(ngModel)]="item.ice"
                                                     />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'entrepriseSociete.capital' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'entrepriseSociete.capital' | translate}}" [(ngModel)]="item.capital"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
