        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'transfert.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'transfert.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'transfert.reference' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'transfert.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="2">{{'transfert.raison' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="raisons" [(ngModel)]="item.raison" id="2" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'transfert.raison' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'transfert.dateTransfert' | translate}}<span style="color: red;">*</span></label>
                                                    <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'transfert.dateTransfert' | translate}}"  [(ngModel)]="item.dateTransfert"
                                                            dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validTransfertDateTransfert}"  >
                                                    </p-calendar>
                                                    <small class='p-error' *ngIf='!validTransfertDateTransfert'>DateTransfert est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'transfert.description' | translate}}</label>
                                                    <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'transfert.description' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'transfert.transfertItems' | translate}}">
                                                <div class="p-col">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Depot</label>
                                                                        <p-dropdown  appendTo="body"  [options]="depots" [(ngModel)]="transfertItemsElement.depot"
                                                                                     id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Depot"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Produit</label>
                                                                        <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="transfertItemsElement.produit"
                                                                                     id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="seuilAlerte"
                                                                                     placeholder="Produit"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="3">Quantite<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantite" placeholder="Quantite"  [ngClass]="{'ng-invalid ng-dirty' : !validTransfertItemsQuantite}" [(ngModel)]="transfertItemsElement.quantite"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validTransfertItemsQuantite'>Quantite est obligatoire.</small>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addTransfertItems()"></button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="p-col">
                                                    <div class="card">
                                                        <p-table [value]="item.transfertItems" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Depot</th>
                                                                                <th>Produit</th>
                                                                                <th>Quantite</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.depot?.libelle}}</td>
                                                                            <td>{{p.produit?.seuilAlerte}}</td>
                                                                                <td>{{p.quantite}}</td>
                                                                    <td>
                                                                        <button (click)="deleteTransfertItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editTransfertItems(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                                </div>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
