        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'avoirVenteItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'avoirVenteItem.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'avoirVenteItem.barCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'avoirVenteItem.barCode' | translate}}" id="1" [(ngModel)]="item.barCode"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemBarCode}"  />
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemBarCode'>BarCode est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="2">{{'avoirVenteItem.depot' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="depots" [(ngModel)]="item.depot" id="2" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'avoirVenteItem.depot' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemDepot}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validAvoirVenteItemDepot'>Depot est obligatoire.</small>
                                            </div>
                                            <div class="field col-11 md:col-5">
                                                <label for="3">{{'avoirVenteItem.produit' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="item.produit" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="seuilAlerte" placeholder="{{'avoirVenteItem.produit' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemProduit}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validAvoirVenteItemProduit'>Produit est obligatoire.</small>
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateProduit('Produit')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'avoirVenteItem.quantite' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'avoirVenteItem.quantite' | translate}}" [(ngModel)]="item.quantite" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemQuantite}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemQuantite'>Quantite est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'avoirVenteItem.quantiteAvoir' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'avoirVenteItem.quantiteAvoir' | translate}}" [(ngModel)]="item.quantiteAvoir"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'avoirVenteItem.quantiteVendue' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'avoirVenteItem.quantiteVendue' | translate}}" [(ngModel)]="item.quantiteVendue" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemQuantiteVendue}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemQuantiteVendue'>QuantiteVendue est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'avoirVenteItem.prixUnitaireHt' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'avoirVenteItem.prixUnitaireHt' | translate}}" [(ngModel)]="item.prixUnitaireHt" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemPrixUnitaireHt}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemPrixUnitaireHt'>PrixUnitaireHt est obligatoire.</small>
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="8">{{'avoirVenteItem.taxe' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="taxes" [(ngModel)]="item.taxe" id="8" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'avoirVenteItem.taxe' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTaxe('Taxe')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="9">{{'avoirVenteItem.prixUnitaireTtc' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="9" placeholder="{{'avoirVenteItem.prixUnitaireTtc' | translate}}" [(ngModel)]="item.prixUnitaireTtc" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemPrixUnitaireTtc}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemPrixUnitaireTtc'>PrixUnitaireTtc est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="10">{{'avoirVenteItem.remise' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="10" placeholder="{{'avoirVenteItem.remise' | translate}}" [(ngModel)]="item.remise" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemRemise}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemRemise'>Remise est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="11">{{'avoirVenteItem.montantHt' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="11" placeholder="{{'avoirVenteItem.montantHt' | translate}}" [(ngModel)]="item.montantHt" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemMontantHt}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemMontantHt'>MontantHt est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="12">{{'avoirVenteItem.montantTtc' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="12" placeholder="{{'avoirVenteItem.montantTtc' | translate}}" [(ngModel)]="item.montantTtc" [ngClass]="{'ng-invalid ng-dirty' : !validAvoirVenteItemMontantTtc}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validAvoirVenteItemMontantTtc'>MontantTtc est obligatoire.</small>
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="13">{{'avoirVenteItem.avoirVente' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="avoirVentes" [(ngModel)]="item.avoirVente" id="13" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="numeroFactureAvoirVente" placeholder="{{'avoirVenteItem.avoirVente' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateAvoirVente('AvoirVente')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-produit-create-admin></app-produit-create-admin>
            <app-taxe-create-admin></app-taxe-create-admin>
            <app-avoir-vente-create-admin></app-avoir-vente-create-admin>


    </p-dialog>
