
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'achatItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'achatItem.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'achatItem.barCode' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatItem.barCode' | translate}}" autofocus  id="1" [(ngModel)]="item.barCode">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'achatItem.footerBarCode' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatItem.footerBarCode' | translate}}" autofocus  id="2" [(ngModel)]="item.footerBarCode">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'achatItem.produit' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatItem.produit' | translate}}" autofocus  id="3" [(ngModel)]="item.produit?.seuilAlerte">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'achatItem.quantite' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'achatItem.quantite' | translate}}" [(ngModel)]="item.quantite"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'achatItem.quantiteAvoir' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'achatItem.quantiteAvoir' | translate}}" [(ngModel)]="item.quantiteAvoir"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'achatItem.quantiteDisponible' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'achatItem.quantiteDisponible' | translate}}" [(ngModel)]="item.quantiteDisponible"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'achatItem.prixUnitaireHt' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'achatItem.prixUnitaireHt' | translate}}" [(ngModel)]="item.prixUnitaireHt"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'achatItem.taxe' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatItem.taxe' | translate}}" autofocus  id="8" [(ngModel)]="item.taxe?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'achatItem.prixUnitaireTtc' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" [disabled]="true" placeholder="{{'achatItem.prixUnitaireTtc' | translate}}" [(ngModel)]="item.prixUnitaireTtc"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'achatItem.remise' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" [disabled]="true" placeholder="{{'achatItem.remise' | translate}}" [(ngModel)]="item.remise"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'achatItem.montantHt' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="11" [disabled]="true" placeholder="{{'achatItem.montantHt' | translate}}" [(ngModel)]="item.montantHt"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'achatItem.montantTtc' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="12" [disabled]="true" placeholder="{{'achatItem.montantTtc' | translate}}" [(ngModel)]="item.montantTtc"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'achatItem.achat' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatItem.achat' | translate}}" autofocus  id="13" [(ngModel)]="item.achat?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="14">{{'achatItem.depot' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatItem.depot' | translate}}" autofocus  id="14" [(ngModel)]="item.depot?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



