
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'transactionFournisseur.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'transactionFournisseur.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'transactionFournisseur.typeInstrument' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'transactionFournisseur.typeInstrument' | translate}}" autofocus  id="1" [(ngModel)]="item.typeInstrument?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'transactionFournisseur.dateEmission' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'transactionFournisseur.dateEmission' | translate}}"  [(ngModel)]="item.dateEmission" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'transactionFournisseur.montant' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'transactionFournisseur.montant' | translate}}" [(ngModel)]="item.montant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'transactionFournisseur.dateTransaction' | translate}}</label>
                        <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'transactionFournisseur.dateTransaction' | translate}}"  [(ngModel)]="item.dateTransaction" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'transactionFournisseur.typeTransaction' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'transactionFournisseur.typeTransaction' | translate}}" autofocus  id="5" [(ngModel)]="item.typeTransaction?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'transactionFournisseur.compte' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'transactionFournisseur.compte' | translate}}" autofocus  id="6" [(ngModel)]="item.compte?.numeroCompte">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'transactionFournisseur.dateEncaissement' | translate}}</label>
                        <p-calendar id="7" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'transactionFournisseur.dateEncaissement' | translate}}"  [(ngModel)]="item.dateEncaissement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'transactionFournisseur.pathPhoto' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'transactionFournisseur.pathPhoto' | translate}}" autofocus  id="8" [(ngModel)]="item.pathPhoto">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'transactionFournisseur.description' | translate}}</label>
                        <textarea id="9" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'transactionFournisseur.description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'transactionFournisseur.etatTransaction' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'transactionFournisseur.etatTransaction' | translate}}" autofocus  id="10" [(ngModel)]="item.etatTransaction?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



