<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate('CommandeItem')"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-warning mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1-2">{{'commandeItem.produit' | translate}} Max</label>
                            <p-dropdown [options]="produits" [(ngModel)]="criteria.produit" id="1" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'commandeItem.produit' | translate}}" optionLabel="seuilAlerte">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2-1">{{'commandeItem.quantiteMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteMin" id="2-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2-2">{{'commandeItem.quantiteMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.quantiteMax" id="2-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-1">{{'commandeItem.prixUnitaireHtMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireHtMin" id="3-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-2">{{'commandeItem.prixUnitaireHtMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireHtMax" id="3-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-2">{{'commandeItem.taxe' | translate}} Max</label>
                            <p-dropdown [options]="taxes" [(ngModel)]="criteria.taxe" id="4" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'commandeItem.taxe' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-1">{{'commandeItem.prixUnitaireTtcMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireTtcMin" id="5-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'commandeItem.prixUnitaireTtcMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.prixUnitaireTtcMax" id="5-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-1">{{'commandeItem.remiseMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.remiseMin" id="6-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-2">{{'commandeItem.remiseMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.remiseMax" id="6-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-1">{{'commandeItem.montantHtMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantHtMin" id="7-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-2">{{'commandeItem.montantHtMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantHtMax" id="7-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-1">{{'commandeItem.montantTtcMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantTtcMin" id="8-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-2">{{'commandeItem.montantTtcMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantTtcMax" id="8-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="9-2">{{'commandeItem.commande' | translate}} Max</label>
                            <p-dropdown [options]="commandes" [(ngModel)]="criteria.commande" id="9" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'commandeItem.commande' | translate}}" optionLabel="numeroCommande">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['produitseuilAlerte', 'quantite', 'prixUnitaireHt', 'taxelibelle', 'prixUnitaireTtc', 'remise', 'montantHt', 'montantTtc', 'commandenumeroCommande']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'commandeItem.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="produit">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.produit' | translate}}</span>
                                <p-sortIcon field="produit"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="quantite">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.quantite' | translate}}</span>
                                <p-sortIcon field="quantite"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="prixUnitaireHt">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.prixUnitaireHt' | translate}}</span>
                                <p-sortIcon field="prixUnitaireHt"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="taxe">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.taxe' | translate}}</span>
                                <p-sortIcon field="taxe"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="prixUnitaireTtc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.prixUnitaireTtc' | translate}}</span>
                                <p-sortIcon field="prixUnitaireTtc"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="remise">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.remise' | translate}}</span>
                                <p-sortIcon field="remise"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="montantHt">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.montantHt' | translate}}</span>
                                <p-sortIcon field="montantHt"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="montantTtc">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.montantTtc' | translate}}</span>
                                <p-sortIcon field="montantTtc"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="commande">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'commandeItem.commande' | translate}}</span>
                                <p-sortIcon field="commande"></p-sortIcon>
                            </div>
                        </th>
                                
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.produit?.seuilAlerte}}</td>
                            
                            
                        <td>{{element.quantite}}</td>
                            
                            
                        <td>{{element.prixUnitaireHt}}</td>
                            
                            
                        <td>{{element.taxe?.libelle}}</td>
                            
                            
                        <td>{{element.prixUnitaireTtc}}</td>
                            
                            
                        <td>{{element.remise}}</td>
                            
                            
                        <td>{{element.montantHt}}</td>
                            
                            
                        <td>{{element.montantTtc}}</td>
                            
                            
                        <td>{{element.commande?.numeroCommande}}</td>
                            
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="edit(element)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(element)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'commande item' : 'commande items' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-commande-item-create-admin  *ngIf="createDialog"></app-commande-item-create-admin>
        <app-commande-item-edit-admin  *ngIf="editDialog"></app-commande-item-edit-admin>
        <app-commande-item-view-admin  *ngIf="viewDialog"></app-commande-item-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
